h1 {
    color: black;
}

.card{
    color: #FFFBFB;
}

.input-box{
    width: 100%;
    
}

.input-label{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black
}

.input-label::placeholder{
    color: black;
    opacity: 25%;
    font-weight: bold;
}
