h1 {
    color: #000;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card{
    color: #FFFBFB;
}

.input-box{
    width: 100%;
    
}

.input-label{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black
}

.input-label::placeholder{
    color: black;
    opacity: 25%;
    font-weight: bold;
}
