body {
    background-color: #E1E0E0;
    font-family: 'Source Sans Pro';
}

header{
    background-color: #000000;
    height: 97px;
    width: 100%;
}

header h1 {
    color: #FFFFFF;
}

#menu{
    color: #FFFFFF;
}


h1{
    font-size: 48px;
}

.primary-color{
    color: #ee88e1;
}

.cor-fundo {
    color: #E1E0E0;
}