body {
    background: rgba(243, 243, 243, 100%)  ;
    font-family: 'Source Sans Pro';
}

nav{
    background-color: #000000;
    height: 97px;
    width: 100%;
}

#logo {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#menu{
   justify-content: start;
   width: 100%;
}

#search{
    width: 50%;
}

#icones{
    width: auto;
    float: right;
}

#icon{
    width: 35px;
    height: 35px;
    color: rgba(255, 255, 255, 1);
}

.primary-button{
    background-color: #EE88E1;
    width: 50%;
    border: 0px solid;
    border-radius: 50px;
}

.primary-button span{
 color: white;   
}

a:link{
    text-decoration: none;
}

.primary-color{
    color: #ee88e1;
}

.cor-fundo {
    color: #E1E0E0;
}

.input-label{
    outline: 0;
    border-width: 0 0 1px;
    border-color: black
}

.input-label::placeholder{
    color: black;
    opacity: 25%;
    font-weight: bold;
}